<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /martrick
RewriteCond $1 !^(index\.php|assets|uploaded_files|img_cache|system|jscal|robots\.txt|favicon\.ico) 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|asset|robots\.txt)
RewriteRule ^(.*)$ /martrick/index.php/$1 [L]
</IfModule>
